<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/intelcpu/0/load/1/plot" value="false" />
    <add key="/intelcpu/0/load/2/plot" value="false" />
    <add key="/intelcpu/0/load/3/plot" value="false" />
    <add key="/intelcpu/0/load/4/plot" value="false" />
    <add key="/intelcpu/0/load/5/plot" value="false" />
    <add key="/intelcpu/0/load/6/plot" value="false" />
    <add key="/intelcpu/0/load/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/1/plot" value="false" />
    <add key="/intelcpu/0/temperature/2/plot" value="false" />
    <add key="/intelcpu/0/temperature/3/plot" value="false" />
    <add key="/intelcpu/0/temperature/4/plot" value="false" />
    <add key="/intelcpu/0/temperature/5/plot" value="false" />
    <add key="/intelcpu/0/temperature/6/plot" value="false" />
    <add key="/intelcpu/0/clock/1/plot" value="false" />
    <add key="/intelcpu/0/clock/2/plot" value="false" />
    <add key="/intelcpu/0/clock/3/plot" value="false" />
    <add key="/intelcpu/0/clock/4/plot" value="false" />
    <add key="/intelcpu/0/clock/5/plot" value="false" />
    <add key="/intelcpu/0/clock/6/plot" value="false" />
    <add key="/intelcpu/0/power/0/plot" value="false" />
    <add key="/intelcpu/0/power/1/plot" value="false" />
    <add key="/intelcpu/0/power/2/plot" value="false" />
    <add key="/intelcpu/0/power/3/plot" value="false" />
    <add key="/intelcpu/0/clock/0/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/nvidiagpu/0/temperature/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/1/plot" value="false" />
    <add key="/nvidiagpu/0/clock/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/2/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/4/plot" value="false" />
    <add key="/nvidiagpu/0/throughput/0/plot" value="false" />
    <add key="/nvidiagpu/0/throughput/1/plot" value="false" />
    <add key="/hdd/0/temperature/0/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="/hdd/1/temperature/0/plot" value="false" />
    <add key="/hdd/1/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="-9" />
    <add key="mainForm.Location.Y" value="-9" />
    <add key="mainForm.Width" value="1938" />
    <add key="mainForm.Height" value="1098" />
    <add key="hiddenMenuItem" value="true" />
    <add key="plotMenuItem" value="false" />
    <add key="plotForm.Location.X" value="660" />
    <add key="plotForm.Location.Y" value="340" />
    <add key="plotForm.Width" value="600" />
    <add key="plotForm.Height" value="400" />
    <add key="gadgetMenuItem" value="true" />
    <add key="gpuMenuItem" value="false" />
    <add key="/nvidiagpu/0/temperature/0/values" value="H4sIAAAAAAAEAPM3jWcxXHjDg4HBxmlScioTAxhYOnXsSoGyLZwKzdKgbC4nMyuEeFNOIly891MiXFyXBWaOuZPM5XS4mh2tSXA1s1SS4GqEH8LMZ3cq2JwAZZs4qb7KhrM7jyTA1ezfmw4Xr16TAhdf9S4FLr65KxXOXs2NUOMRmwkXBwC1XO3a/AAAAA==" />
    <add key="/nvidiagpu/0/fan/0/values" value="" />
    <add key="/nvidiagpu/0/clock/0/values" value="H4sIAAAAAAAEAPM3jWcxXHjDg+GBuMvEllQmBhBIEHH235UCYTNwOy/nZ2AGMw/sdWZxToKIK/A5X33wE8JesMt5VUYyXO+ChWlwvS6d/5hgerfKIfR+8PkP1xs9KQGuV/VVNlzvS8NfcL39czIQerl+w/U+WYZws/q0VLjeozGMcDcDANsBCVnkAAAA" />
    <add key="/nvidiagpu/0/clock/1/values" value="H4sIAAAAAAAEAPM3jWcxXHjDg7HhlLN3ors+AxCA2AA4KZu3GAAAAA==" />
    <add key="/nvidiagpu/0/clock/2/values" value="H4sIAAAAAAAEAPM3jWcxXHjDg+HBdJeJLalMDCCQMMXZf1cKhM3Q7bycn4EZzDxg68LinAQRV+hzvvrgJ4S9wMplVUYyXO+ChWlwvS6d/5hgerfKIfR+8PkP1xs9KQGuV/VVNlzvS8NfcL39czIQerl+w/U+WYZws/q0VLjeozGMcDcDADfpaW3kAAAA" />
    <add key="/nvidiagpu/0/load/0/values" value="H4sIAAAAAAAEAKuIiWcxXHjDgwEIlKzc9RmgAABnIqMCGAAAAA==" />
    <add key="/nvidiagpu/0/load/1/values" value="H4sIAAAAAAAEAKuIiWcxXHjDgwEIlKzc9RmgAABnIqMCGAAAAA==" />
    <add key="/nvidiagpu/0/load/2/values" value="H4sIAAAAAAAEAKuIiWcxXHjDgwEIlKzc9RmgAABnIqMCGAAAAA==" />
    <add key="/nvidiagpu/0/load/3/values" value="H4sIAAAAAAAEAKuIiWcxXHjDgwEIlKzc9RmgAABnIqMCGAAAAA==" />
    <add key="/nvidiagpu/0/load/4/values" value="H4sIAAAAAAAEAKuIiWcxXHjDg2HBB3vl/w/1GUAAyAYA1K9LGRgAAAA=" />
    <add key="/nvidiagpu/0/smalldata/1/values" value="H4sIAAAAAAAEAKuIiWcxXHjDg8Gg2lX5/0N9BhAAsgHfb/rKGAAAAA==" />
    <add key="/nvidiagpu/0/smalldata/2/values" value="H4sIAAAAAAAEAKuIiWcxXHjDg4FhlpPy/4f6DGAwywkAdfvlFBgAAAA=" />
    <add key="/nvidiagpu/0/smalldata/3/values" value="H4sIAAAAAAAEAKuIiWcxXHjDg4GhwVX5/0N9BjBocAUAonRa8xgAAAA=" />
    <add key="/nvidiagpu/0/control/0/values" value="" />
    <add key="/nvidiagpu/0/power/0/values" value="" />
    <add key="/nvidiagpu/0/throughput/0/values" value="H4sIAAAAAAAEABN8ncxiuPCGB8OBWw5di4qZGKBALj4Mzj4WmwZhr+FyOmeWAhfnaSmCsPv4nRbkhMLFtTMS4OwN19MhbIlvjkZTkuDi6+wR7GvTsyHsJkEnlh/RcPGG89lw9qq9UDNn8ToJ7EyHi2vcLIWwOwScrNYFw8U1a1LhbPd3GXB3ik1DuB8A4JOPX/wAAAA=" />
    <add key="/nvidiagpu/0/throughput/1/values" value="H4sIAAAAAAAEADtcVMRiuPCGB8MCHofTh/uZGMCgyr7huCWUzcDwtj8RwgaqmVuaAhePeJALF88rD4WLb2dJhbP/HUyHsn/ZBx5Igoub6SLYp5Oa4ebkPnSGi/fb1sPZLtc94Gq+b06HizM+K4WLL3eIgIu7XUuAs9+VINzZbIkQBwDHOsfy/AAAAA==" />
    <add key="ramMenuItem" value="false" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEAKv984PFcOENjxU/HZ3O+SUzMQDBYX0np0Ou6WD2pyWOTic/pYLZHumOTizOSWD2vkRHJ1vTRDA7pN3Ryfk8RG/Qd0enz+oQvb+XOzvtM04Bs39muDpJRkP0Hlnv6vTUHcLOE3N1ij2UBmaH7XB2cu2BqN91G8gWzwCzJaRcnIL/Qew69tDZafphiLjeLWcnGSuIvbs7nJ0+TYSw76s5O53xg7iZLcjZaacNRH1UpbPTFS+I+NcYZ6eT7yD2Rp9xdgIAFpP6awgBAAA=" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEAKv984PFcOEND6ZnXx3O+SUzMQDBDK1vDodc08HseVVfHU5+SgWzi3S+OrA4J4HZeapfHWxNE8FskdCvDs7nIXp5Hn91+KwO0dvG/sNhn3EKmL3J4ZeDZDREb8GsXw5P3SFsvhs/HWIPpYHZDjI/HFx7IOrlPIFs8QwwW2/GD4fgfxC7TgT8cJh+GCKu4f7DQcYKYu+L+98dPk2EsG8lf3c44wdxc9+s7w47bSDqM858d7jiBRHPWvHd4eQ7iL2LTH84AABjfpYLCAEAAA==" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEAKv984PFcOEND+NpTI7n/JKZGIDgRTGT4yHXdDD76Wkmx5OfUsHs35+YHFmck8Ds2m9MjramiWD2qntMjs7nIXrXTWdy/KwO0VvYyui4zzgFzL6dweAoGQ3R+8eawfGpO4StO5fBMfZQGpgtUs3o6NoDUb80BcgWzwCzZW0ZHYP/Qey6kMDoOP0wRHxBKqOjjBXEXoeZjI6fJkLY7tcZHc/4Qdz8djej404biHqGxYyOV7wg4v+3MDqefAexNzmP0REAUhqKMQgBAAA=" />
    <add key="cpuMenuItem" value="false" />
    <add key="/intelcpu/0/load/0/values" value="H4sIAAAAAAAEABM2CWQxXHjD42JUjiOTdCoTAxCo5HI4KuxLgbB5jzpcbk8Ds/ttHzrofkoGs4OnXnM4PzcRwg596bDrMYQddlXLUesWRG+DSomj0dl0MHuWv4Vj1+QkMPvP/58Ot35C1IeKSjgulYKo+Zn70qGFDyLuH8bq+KQ1G8x+N0XE8V9iAkT9UgZHJZEMMHvKsVcO82dA7ApZc8lBXg7i/th7nxwOR0HYLs4PHOQVoWpKHzmcz8gEs68sOOCwfAbELz1Af5XugKjf9ei7AwCRdn1MFAEAAA==" />
    <add key="/intelcpu/0/load/1/values" value="H4sIAAAAAAAEAJPhDWQxXHjD48TzhY4/HVOZGIDAj4fHUWFfCpg9N+Kyw+X2NDD7xkpuR91PyWA2w4EVDufnJkLYDW8ddj2GshWMHLVuQfSqhfk6Gp1NB7PfpBg4dk1Oguu99ROq3kHGcakURM2GyzccWvgg4kzJnx2etGaD2V5vvjn8S0yA6v3soCSSAWYzMsx2mD8DYpfI7l0O8nIQ99tcZHI8HAVhvzsy20FeEaKmK/azw/mMTDA7/nmjw/IZEL9UKB13KN0BUc+h8tMBAN+hwcYUAQAA" />
    <add key="/intelcpu/0/load/2/values" value="H4sIAAAAAAAEABM2CWQxXHjDQ0sr0JFJOpWJAQg2BD9wUNiXAmb75Ig6XG5PA7NLFnU46H5KBrMZGjodzs9NhLAdmh12PYayFSQdtW5B9DJsmOBodDYdzL5x0syxa3ISVO8Vh1s/oeob3joslYKoeXNkp0MLH0R824srDk9as8HsTZfvOvxLTICoX8DjqCSSATHTc7bD/BkQu0R+L3eQl4O4vyu23+FwFIR91G+3g7wiRM07FqCbMzIhfhRe67B8BsQvXXdnO5TuSIWbAwCS+zjUFAEAAA==" />
    <add key="/intelcpu/0/load/3/values" value="H4sIAAAAAAAEABM2CWQxXHjD49W8HY5M0qlMDECw8bKio8K+FDB77oxPDpfb08Dsf/EqjrqfksFshgQ2x/NzE+HsXY+h7IYQR61bEL0bioscjc6mQ8QV4h27JidB1cs73voJVe/g57hUCqImqV3LsYUPZo6145PWbDB7zg1vx3+JCRDxAxqOSiIZYHZXraLj/BkQu250vnGQl4O4/40Lv+PhKAh7ToWeo7wiRA3DAmnH8xmZYLaPjojj8hkQv3TJcjqW7oCqjxByBABXKdttFAEAAA==" />
    <add key="/intelcpu/0/load/4/values" value="H4sIAAAAAAAEABM2CWQxXHjDo4XlmgOTdCoTAxDc8HzmoLAvBcyuSDrrcLk9Dcz+97/RQfdTMpjN0LDb4fzcRCj7isOux1D2AX5HrVsQvRplXY5GZ9PB7DIndceuyUkQNQxijrd+QtUnsDkulYKo2TD5kkMLH8yczw5PWrPB7P/7uRz/JSZA7VrkoCSSATEz6bXD/BkQu/zWnHWQl4O43+/NG4fDURB2xaJdDvKKUDU6txzOZ2SC2Yf5OhyWz4D4peLRTYfSHRD1ItbrHACR92VnFAEAAA==" />
    <add key="/intelcpu/0/load/5/values" value="H4sIAAAAAAAEABM2CWQxXHjD422ZlCOTdCoTAxCIWIs6KuxLAbPnSvx3uNyeBmYf5lN01P2UDGYzHNBwPD83EcJ2kHHc9RjKVjBy1LoF0Wt9McbR6Gw6mG310caxa3ISRE0Cm+Otn1D1DUqOS6Ugavzf3HBo4YOKH+B3fNKaDdFbqOb4LzEBahezo5JIBph946Wg4/wZELtsLjI5ystB3D/nB4fj4SgI+8bJTw7yihA1IrvfOJzPyASzu+6yOy6fAfGLTSC/Y+mOVKjbRB0BrxiovRQBAAA=" />
    <add key="/intelcpu/0/load/6/values" value="H4sIAAAAAAAEABM2CWQxXHjDw6ygzpFJOpWJAQjeqPA4KuxLAbP9dA46XG5PA7M75s5y0P2UDGYzNOx2OD83Ecp+67DrMZSdIO+odQuid8PnVEejs+lgtki0umPX5CSIGofnDrd+wtSzOS6VgqgJyHnq0MKHMPNJazaYvVlYxPFfYgJEXIHBUUkkA6Je54fD/BkQu0SqzzrIy0Hcf/jcP4fDURB2hdIDB3lFiBo1sysO5zMyweyk5VMcls+A+MVy402H0h0Q9WVOEo4A//LFVBQBAAA=" />
    <add key="/intelcpu/0/temperature/0/values" value="H4sIAAAAAAAEABM2CWQxXHjDg4Eh24lJOpWJAQzCnBT2pUDZPk6X29Og7EAn3U/JcPHzcxOh7FCnXY8RbK1bML3RTkZn06HsGKeuyUlwc279hKn3dVoqlQ5nt/Alws1/0poNZXs6/UtMgLK9nZREMqBsL6f5M1LgauTlYO4PcDocBWO7O8krpsDVn8/IhKtfPiMZrqZ0B0y9mxMAtEeGdBQBAAA=" />
    <add key="/intelcpu/0/temperature/1/values" value="H4sIAAAAAAAEABM2CWQxXHjDg4EhzemzbCoTAxgEO+nvToGyA5x0utKg7BCnK++ToWx/p/NzE+Hiux7D2ClOWrdgeoucjM6mQ9nZTl2Tk6DsaKdbP2HqY5wkZGFqIp0EeWDi8U5PWrPh5v9LTIC7TUkkA8r2dZo/A+HOaIVUuHh7BIzt7SSvCFMT5HQ+IxPKjnJaPgPhl9IdqXA2ACkZIyIUAQAA" />
    <add key="/intelcpu/0/temperature/2/values" value="H4sIAAAAAAAEABM2CWQxXHjDg4Ehxem4fCoTAxh4O0XvTIGyPZ10utKgbC+nK++ToWxXp/NzE6Fsf6ddj2HsACetWzC9EU5GZ9Oh7FinrslJcHNu/YSp93OKlYOp8XU6w5UId8OT1mwo283pX2ICXFxJJAPKDnaaPwNml4tTtEIq3M3tEalwd8orwtQ4OZ3PyISyHZ2Wz4D5xdmpdAdMfZATAHCcP6sUAQAA" />
    <add key="/intelcpu/0/temperature/3/values" value="H4sIAAAAAAAEABM2CWQxXHjDg4Eh3umgYioTAxjEOyVuT4GyPZ10utKgbF+nK++ToWwPp/NzE6FsP6ddj2HsBCdWRpg5SU4PWDKh7FInRlOYmkCnWz9h7DAnCfl0uLggF0w82OlJazbc/H+JCVC2l5OSSAbcbfNnwNzp7hStkAo3pz0CxnZ1kldEqHlZlQln97bB/OLmVLojFe4vAOOzakEUAQAA" />
    <add key="/intelcpu/0/temperature/4/values" value="H4sIAAAAAAAEABM2CWQxXHjDg4Ehyum2cioTAxj4OblvTYGy3Zx0utKg7GinK++ToWxPp/NzE6FsH6ddj2HsACdWRpg5wU43tTOh7BAnDr5EuN5bPxPhdukqpkPZXk5/2BPh7Cet2VC2t9O/xAS4XUoiGXC3zZ8Bc2eoU7QCzF5XJ40qGNvXqe4/zM0uTidrMuHuXNsCE/dwKt2RCncbADvRcAUUAQAA" />
    <add key="/intelcpu/0/temperature/5/values" value="H4sIAAAAAAAEABM2CWQxXHjDg4Ghwmm/aioTAxh4OdnfSIGy/ZwCUtOgbH+nK++ToWxvp/NzE6HsIKddj2HseKdnf2DqC5x+6KdD2QlOHHyJcHNi2JOg7FAnV1GYmkCnJLZEOPtJazaU7eH0LzEB7h4lkQwo282Jcx3MnZ5OTkKpcPHrRQh23f9kuL2+dZlwcc1mmLiPU+mOVLhfAMD8Hd0UAQAA" />
    <add key="/intelcpu/0/temperature/6/values" value="H4sIAAAAAAAEABM2CWQxXHjDg4GhzmmyeioTAxhkOmVfS4GyA50CUtOg7FinK++ToWx/p/NzE6HsKKddj2HsNKdnf2Dqa5x+6KdD2bVOHHwI9THsSVB2jJOmOExNpFMdC0xNgtOT1mwoO9zpY0cClB3spP82HS7OuS4FbqaWCMz9SU7vC2DsEKe6/8lwvafqM+Fq1jQi/FK6IxXuHgB4d3xcFAEAAA==" />
    <add key="/intelcpu/0/clock/0/values" value="H4sIAAAAAAAEAPM3jWcxXHjD49+uE06TklOZGIDAGMju2JUCZhsB2YVmaXBxMyuEeFNOIpzd+wnCNgCydVkQ5shcToezd7QmwdUnefeKwtiruVPgajxiM+Fq7nmeZIGxAaefMvSoAAAA" />
    <add key="/intelcpu/0/clock/1/values" value="H4sIAAAAAAAEAGMuCGYxXHjD49niEtdwqVQmBiB4t6jEVfpFCpj9BsjOuJoGF78wOxkuvqQnES6+6iuE/RrIPvcWovc9kJ22Ih2u5uG2JDD7LZDd8h6ht5MrHS5+fctPbhjbRS4VbtfsbAT7pWwKXK+VayZcr5hDMlxcUTINLg4A4s2+OeQAAAA=" />
    <add key="/intelcpu/0/clock/2/values" value="H4sIAAAAAAAEACu8EMpiuPCGx7PFJa6CKqlMDEDwblGJ6/7rKWD2GyC7MD4NLr5bCyG+OTkRLj7nK4T9Gsg+8gqi5j2QbX0hHa7m3dokMPstkL33IUKvNE86XFz5/E9uGNvsFcIuqdmpcHbmx2S43qfZmXC93moI8S7FNLg4AGQApenkAAAA" />
    <add key="/intelcpu/0/clock/3/values" value="H4sIAAAAAAAEAKuSjGAxXHjD49niEtc5uqlMDEDwblGJ69bXKWD2GyC7OioNLj5NHiEekJQIFxdgSQKzX4PUfIOoeQ9ke11Lh6tZOhWi5i2QrfcZodeLLR0uPn/TT24YO+k7wi6mzlQ4W+93MlxvRX0mXK+pCULcjyUNLg4AQ1fjeuQAAAA=" />
    <add key="/intelcpu/0/clock/4/values" value="H4sIAAAAAAAEALtXGMViuPCGx7PFJa7/LVKZGIDg3aIS169PU8DsN0D2Es80uPgiEYT4samJcPE53yHs10D29j8QNe+B7MRL6XA1Ti1JYPZbIHs1UxJcfMLHNLj4ilM/uWHsNbcQdvH1psLZff+S4XrZ2zPhel1dEOKPf6XCxQFLgxHK5AAAAA==" />
    <add key="/intelcpu/0/clock/5/values" value="H4sIAAAAAAAEAIt/GsNiuPCGx7PFJa4rrVKZGIDg3aIS1wN7U8DsN0C2d3AaXDxPESHO15MIF//1GcJ+DWTHiEPMeQ9kf9uVDmZPeJfvWt2bBGa/BYpv/4vQe+V3Glxc9OxPbhj7xSuEXdJFqXD2OZ4UuN6L5ZlwvYfdk+HiUd9T4eIAq2q3CuQAAAA=" />
    <add key="/intelcpu/0/clock/6/values" value="H4sIAAAAAAAEAPM3jWcxXHjD49niEtdJyalMDEDwblGJa8euFDD7DZBdaJYGFzezQog35STCxXs/QdivgWxdFog574FsmcvpYHalYLHrjtYkMPstUHyWShJcr/DDNLh4xJmf3DD2qncIuzZ3pcLZq7lT4Ho9YjPhegu9k+Hiuf9S4eIAJSkCeuQAAAA=" />
    <add key="/intelcpu/0/power/0/values" value="H4sIAAAAAAAEAPM3jWcxXHjDI/X1VcdJyalMDEAg6XbAsWNXCpgdc2iLY6FZGph9wGC3o5kVRPzdii2OTTmJYPYugUOOvZ8g7Kq4W466LBBzbhT9cpS5nA5mR2+477ijNQnMLply2nGWCoTNxn3GUfghxPxC4aOOBZsTwOwFfaccVV9lg9ku/QcdO49AxO3373fcvxdi5rb/uxyr10Dc47xpl+OqdxC2gvM+x81dEDd8sDzouJobIr5fcr+jR2wmRO+3rY6F3slgds6J/Y65/yDq1VbsdwQA5nniXhQBAAA=" />
    <add key="/intelcpu/0/power/1/values" value="H4sIAAAAAAAEAPM3jWcxXHjDIy8mx3FScioTAxAIJTo5duxKAbNfT9FxLDRLA7O1nC0dzawg4oe9dRybchLB7Ifibo69nyDsH7eKHHVZIOYEL53uKHM5HczOyqpz3NGaBGZXbQpznKUCYe+bHuEo/BBi/gprb8eCzQlg9o72UEfVV9lgdsVZV8fOIxBxDQMnx/17IWbuvGzhWL0G4p4f5haOq95B3Xbc3nFzF8QNcj9cHFdzQ8T3STs6esRmgtmdRfqOhd7JYLaJoZNj7j+Iek9fJ0cANVeFzxQBAAA=" />
    <add key="/intelcpu/0/power/2/values" value="H4sIAAAAAAAEAPM3jWcxXHjDo7U+w3ZScioTAxBcMfG27diVAmb/u77QptAsDcxurD1kY2YFET+e+9CmKScRzNbmyLXt/QRhe77xttNlgZjjtmimnczldDD7ZcRN2x2tSWB2srSQ3SwVCHvSu6u2wg8h5ueaHLMt2JwAZu/e88ZW9VU2mF06i8G28whEvOP8bpv9eyFmLtiy2aZ6DdSdLWq2q95B2Lvef7PZ3AVxw3ZdWdvV3BBx39WKth6xmWD2NOFHNoXeyWD2k1Uitrn/IOpvRmvbAgA/X6oWFAEAAA==" />
    <add key="/intelcpu/0/power/3/values" value="H4sIAAAAAAAEAPM3jWcxXHjDY9PplfaTklOZGIAgKWupfceuFDB7w+c59oVmaWC28/F59mZWEPFjJ+fYN+UkgtkFnsvsez9B2AJN++11WSDmZMvesJe5nA5mi3Dusd/RmgQxR3yb/SwVCHvmwU32wg8h5lvGrrYv2JwAZr8t2mSv+iobzNbavsS+8whEvOPAAvv9eyFmegUstK9eA3GP2t+F9qveQdhXfRbab+6CuIFv8lL71dwQ8cqkxfYesZlgduqrefaF3slgNve2Jfa5/yDqs7oX2wMADAoeJBQBAAA=" />
    <add key="mainboardMenuItem" value="false" />
    <add key="fanControllerMenuItem" value="true" />
    <add key="/hdd/0/temperature/0/values" value="H4sIAAAAAAAEALvrz21puPCGBwODnBMAqovC9AwAAAA=" />
    <add key="/hdd/0/load/0/values" value="H4sIAAAAAAAEALvrz21puPCGx7qfu50Ab+UTMAwAAAA=" />
    <add key="/hdd/1/temperature/0/values" value="H4sIAAAAAAAEAFNdxG1puPCGBwPDG0cAZS9h5QwAAAA=" />
    <add key="/hdd/1/load/0/values" value="H4sIAAAAAAAEAFNdxG1puPCGx5XZs5wAcNl9XQwAAAA=" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="plotPanel.MinThroughput" value="NaN" />
    <add key="plotPanel.MaxThroughput" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="312" />
    <add key="treeView.Columns.Value.Width" value="125" />
    <add key="treeView.Columns.Min.Width" value="125" />
    <add key="treeView.Columns.Max.Width" value="125" />
    <add key="listenerPort" value="8085" />
  </appSettings>
</configuration>